
div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

div.content {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

div.content > div {
  margin: 0.5rem;
  padding: 0.5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 0.10rem;
  background-clip: padding-box;
  box-shadow: 0 5px 15px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  object-fit: cover;
}

