/* Customizations */
.nav {
  display: flex;  
  flex-wrap: wrap;
}
.nav-item {
  /*display: inline-block;*/
  /*margin-right: 0.3em;*/
  text-wrap: nowrap;
}

/* Post layout - rehome to post section? */
.post-container {
  display: flex;
  justify-content: center;
}
.post-content {
  max-width: 40rem;
  min-width: 0;
}
.postlist-item:before {
  content: none;
}
.postlist-date {
  margin-right: 0.5em;
}

header {
	border-bottom: none;
}
header > .nav-item {
	font-size: 1.5em;
	font-weight: 700;
	text-wrap: wrap;
}
header > .nav-item:link,
header > .nav-item:visited {
	color: var(--text-color);
	text-decoration: none;
}

/* Home page 4-column grid */
.home-grid {
  display: grid;
  grid-template-columns: 8rem 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0;
}
main:has(.home-grid) {
  padding-left: 1em;
  padding-right: 1em;
}

.home-grid h2 {
  margin-top: 0;
}

/* Contact column */
.contact-list {
  list-style: none;
  padding: 0;
}
.contact-list li {
  margin-bottom: 0.5em;
}

/* Talks column */
.talks-list {
  list-style: none;
  padding: 0;
}
.talks-list li {
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.talks-venue {
  display: block;
  font-size: 0.85em;
  color: var(--color-gray-50);
}
.col-talks h3 {
  margin-bottom: 0.5em;
  margin-top: 1.2em;
}
.col-talks h3:first-of-type {
  margin-top: 0;
}

/* Blog column */
.col-blog .postlist {
  padding-left: 0;
}
.col-blog .postlist-item {
  margin-bottom: 0.75em;
}
.col-blog .postlist-link {
  font-size: 1em;
  flex-basis: 100%;
  padding-left: 0;
}

/* Mobile nav items - hidden on desktop */
.mobile-nav-item {
  display: none;
}

@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
  .contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
  }
  .contact-list li {
    margin-bottom: 0;
  }
  .col-contact h2 {
    margin-bottom: 0;
  }
  .col-contact {
    margin-bottom: -1.5rem;
  }
  .col-talks,
  .col-blog {
    display: none;
  }
  .mobile-nav-item {
    display: inline-block;
  }
}

/* Color mode management */
/*
body {
  color: var(--darkgray);
  background-color: var(--white);
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
.postlist-date,
.postlist-item:before {
  color: var(--darkgray);
}
.post-tag {
  color: var(--darkgray);
  border-color: var(--gray);
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color);
    background-color: var(--color-gray-90);
  }
  a[href] {
    color: var(--white);
  }
  a[href]:visited {
    color: var(--lightgray);
  }
  .postlist-date,
  .postlist-item:before {
    color: var(--darkgray);
  }
  .post-tag {
    color: var(--darkgray);
    border-color: var(--gray);
  }
  a[href].post-tag:hover,
  a[href].post-tag:focus {
    background-color: var(--lightgray);
  }
}
*/