---
layout: layouts/home.njk
eleventyNavigation:
  key: dietrich
  order: 1
---

<div class="columns">

  <!--
  <div class="column home-me">
  </div>
  -->

  <div class="column home-posts">
    {% set maxPosts = collections.posts.length | min(3) %}
    <p>Latest posts</p>

    {% set postslist = collections.posts | head(-10) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <p><a href="{{ '/posts/' | url }}">all posts</a>.</p>
  </div>

</div>
